@model NT.SHARED.Models.SurfaceFinish

@{
    ViewBag.Title = "Chi ti?t hoàn thi?n b? m?t";
}

<h1>Chi ti?t hoàn thi?n b? m?t</h1>

<dl class="row">
    <dt class="col-sm-2">Tên</dt><dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Mô t?</dt><dd class="col-sm-10">@Model.Description</dd>
    <dt class="col-sm-2">Mã</dt><dd class="col-sm-10">@Model.Id</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">S?a</a>
    <a asp-action="Index" class="btn btn-secondary">Quay l?i danh sách</a>
</p>