@model NT.SHARED.Models.SurfaceFinish

@{
    ViewBag.Title = "Sửa hoàn thiện bề mặt";
}

<h1>Sửa hoàn thiện bề mặt</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Tên</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
