@model NT.SHARED.Models.Product

@{
    ViewBag.Title = "Tạo sản phẩm mới";
}

<h1>Tạo sản phẩm mới</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="BrandId">Thương hiệu</label>
        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandSelectList">
            <option value="">-- Chọn thương hiệu --</option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductCode">Mã sản phẩm</label>
        <input asp-for="ProductCode" class="form-control" />
        <span asp-validation-for="ProductCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription">Mô tả ngắn</label>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Mô tả chi tiết</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Thumbnail">Ảnh đại diện</label>
        <div class="mb-2">
            <input type="file" id="thumbnail-file" accept="image/*" class="form-control" />
        </div>
        <input asp-for="Thumbnail" id="Thumbnail" class="form-control" />
        <span asp-validation-for="Thumbnail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Trạng thái</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    @* <fieldset class="border p-2 mt-3">
        <legend class="w-auto">SEO</legend>
        <div class="form-group">
            <label asp-for="SeoTitle"></label>
            <input asp-for="SeoTitle" class="form-control" />
            <span asp-validation-for="SeoTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SeoDescription"></label>
            <textarea asp-for="SeoDescription" class="form-control"></textarea>
            <span asp-validation-for="SeoDescription" class="text-danger"></span>
        </div>
    </fieldset> *@
@*     <fieldset class="border p-2 mt-3">
        <legend class="w-auto">Audit</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="CreatedBy"></label>
                <input asp-for="CreatedBy" class="form-control" readonly />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CreatedDate"></label>
                <input asp-for="CreatedDate" class="form-control" readonly />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="UpdatedBy"></label>
                <input asp-for="UpdatedBy" class="form-control" readonly />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="UpdatedDate"></label>
                <input asp-for="UpdatedDate" class="form-control" readonly />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
        </div>
    </fieldset> *@
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
