@model NT.SHARED.Models.Hardness

@{
    ViewBag.Title = "Xóa ?? c?ng";
}

<h1>Xóa ?? c?ng</h1>

<h4>@Model.Name</h4>
<p>@Model.Description</p>
<p class="text-danger">B?n có ch?c ch?n mu?n xóa?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">H?y</a>
</form>