@model NT.SHARED.Models.Hardness

@{
    ViewBag.Title = "Hardness Details";
}

<h1>Hardness Details</h1>

<dl class="row">
    <dt class="col-sm-2">Name</dt><dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Description</dt><dd class="col-sm-10">@Model.Description</dd>
    <dt class="col-sm-2">Id</dt><dd class="col-sm-10">@Model.Id</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</p>