@model NT.SHARED.Models.Voucher

@{
    ViewData["Title"] = "Create Voucher";
}

<h1>Create Voucher</h1>

<form asp-action="Create" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiscountAmount" class="control-label"></label>
        <input asp-for="DiscountAmount" class="form-control" />
        <span asp-validation-for="DiscountAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaxDiscountAmount" class="control-label"></label>
        <input asp-for="MaxDiscountAmount" class="form-control" />
        <span asp-validation-for="MaxDiscountAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MinOrderAmount" class="control-label"></label>
        <input asp-for="MinOrderAmount" class="form-control" />
        <span asp-validation-for="MinOrderAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExpiryDate" class="control-label"></label>
        <input asp-for="ExpiryDate" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaxUsage" class="control-label"></label>
        <input asp-for="MaxUsage" class="form-control" />
        <span asp-validation-for="MaxUsage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-link">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}