@model NT.SHARED.Models.Voucher

@{
    ViewData["Title"] = "S?a Voucher";
}

<h1>S?a Voucher</h1>

<form asp-action="Edit" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiscountPercentage" class="control-label"></label>
        <input asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaxDiscountAmount" class="control-label"></label>
        <input asp-for="MaxDiscountAmount" class="form-control" />
        <span asp-validation-for="MaxDiscountAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MinOrderAmount" class="control-label"></label>
        <input asp-for="MinOrderAmount" class="form-control" />
        <span asp-validation-for="MinOrderAmount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaxUsage" class="control-label"></label>
        <input asp-for="MaxUsage" class="form-control" />
        <span asp-validation-for="MaxUsage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="L?u" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-link">H?y</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}