@model NT.SHARED.Models.ProductImage

@{
    ViewBag.Title = "Sửa ảnh sản phẩm";
}

<h1>Sửa ảnh sản phẩm</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ProductDetailId">Mã biến thể SP</label>
        <input asp-for="ProductDetailId" class="form-control" />
        <span asp-validation-for="ProductDetailId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Đường dẫn hình</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
