@model NT.SHARED.Models.CartDetail

<h2>Delete CartDetail</h2>
<div>
    <h4>Are you sure?</h4>
    <dl class="row">
        <dt class="col-sm-2">CartId</dt>
        <dd class="col-sm-10">@Model.CartId</dd>
        <dt class="col-sm-2">ProductDetailId</dt>
        <dd class="col-sm-10">@Model.ProductDetailId</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" name="cartId" value="@Model.CartId" />
        <input type="hidden" name="productDetailId" value="@Model.ProductDetailId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
