@model NT.SHARED.Models.Permission

<h2>Chi ti?t quy?n</h2>
<dl class="row">
    <dt class="col-sm-2">Mã quy?n</dt>
    <dd class="col-sm-10">@Model.Code</dd>
    <dt class="col-sm-2">Mô t?</dt>
    <dd class="col-sm-10">@Model.Description</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">S?a</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay l?i danh sách</a>
</p>

