@model NT.SHARED.Models.ProductCategory

<h2>Chi ti?t danh m?c s?n ph?m</h2>
<dl class="row">
    <dt class="col-sm-2">Mã s?n ph?m</dt>
    <dd class="col-sm-10">@Model.ProductId</dd>
    <dt class="col-sm-2">Mã danh m?c</dt>
    <dd class="col-sm-10">@Model.CategoryId</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-productId="@Model.ProductId" asp-route-categoryId="@Model.CategoryId" class="btn btn-primary">S?a</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay l?i danh sách</a>
</p>

